---


---
<div id="section-3" class="section">
    <div class="line" id="line-3"></div>
    <div id="video-container">
        <video autoplay loop muted playsinline>
            <source src="./video/Untitled.m4v" type="video/mp4">
        </video>
        <button type="button" id="wide-button">START TRAINING NOW</button>
    </div>
</div>

<style>
    #video-container {
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    video {
        /*max-height: 90vh;*/
        transition: 1s ease-in-out;
        filter: grayscale(5%) brightness(75%);
        width: 100vw;
        transform: scale(0.85);
    }

    #wide-button {
        position: absolute;
        background-color: rgba(1, 1, 1, 0.2);
        color: var(--main-bg-color);
        border: medium solid;
        font-size: clamp(1rem, 2.5vw + 1rem, 10rem);
        padding: 1rem 2rem;
        transition: 1s ease-in-out;
        font-weight: 600;

    }


    #line-3 {
        z-index: 1;
        height: 46%;
        background: var(--main-bg-color);
    }


</style>