---


---
<div id="section-5" class="section">

    <div id="five-1" class="flex">
        <div>Motivated</div>
        <div>by</div>
    </div>
    <div id="five-2" class="flex">
        <div id="card-head1">We are here to do the hard, long and painful process of creating the best you!
        </div>
        <div id="five-22">empathy.</div>
    </div>
    <div id="five-3" class="flex">
        <div>Devoted</div>
        <div>to</div>
    </div>
    <div id="five-4" class="flex">
        <div>creativity.</div>
        <div id="card-head2" onclick="location.href='/About';">
            Learn more about us
            <img alt="Learn More" src="./img/LM.svg">
        </div>
    </div>

</div>

<style>
    #section-5 {
        background: black;
        padding: 4rem 3rem 1rem 3rem;
        font-size: 10vw;
        font-weight: 440;
    }

    #five-1 {
        opacity: 0;
        flex-flow: row;
        color: snow;
        padding-left: 10rem;
        justify-content: flex-start;
        gap: 5rem;
    }

    #five-2 {
        flex-flow: row nowrap;
        color: snow;
        justify-content: center;
        gap: 5rem;
        align-items: center;
    }

    #five-22 {
        opacity: 0;
    }

    #five-3 {
        opacity: 0;
        flex-flow: row nowrap;
        color: snow;
        padding-left: 10rem;
        justify-content: center;
        gap: 5rem;
    }

    #five-4 {
        opacity: 0;
        flex-flow: row nowrap;
        color: snow;
        justify-content: space-around;
        align-items: center;
    }


    #card-head1 {
        opacity: 0;
        color: snow;
        font-size: 4vmin;
        font-weight: 440;
        width: 28ch;
        font-variant-caps: titling-caps;
    }

    #card-head2 {
        display: inline-flex;
        align-items: center;
        font-size: 4vmin;
        font-weight: 440;
        gap: 0 2.5rem;
        font-variant-caps: titling-caps;
        cursor: pointer;
    }

    @keyframes slide-up {

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }


</style>